@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cowboy Cafe!</h1>
</div>
<p>
    We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust
    on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de Campo
    into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.
</p>

<form id="item-database" method="post">

    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search" />
    </div>

    <div id="results">
        <h1>Menu Results</h1>
        <ul class="item-list">
            @foreach (IOrderItem item in @Model.ItemsDisplayed)
            {
                <div class="menu-item">
                    @item.ToString()
                    <p>Price: @item.Price</p>
                    <p>Calories: @item.Calories</p>
                </div>
            }
        </ul>
    </div>
</form>